<h1>The Gossip Project</h1>
<h2>About the author</h2>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"><%= @authors.first_name%></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= @authors.last_name %></h6>
            <p class="card-text"><%= @authors.email %></p>
            <p class="card-text"><%= @authors.city.name %></p>
        </div>
    </div>